*~
bin/
include/
lib/
logs/
share/


src/

!modules/*

download/

SuperBuild/build/
SuperBuild/install/
build/

*.pyc
settings.yaml
.setupdevenv
__pycache__

storage/

vcpkg/
vcpkg-env.zip
venv/
python312/
dist/
innosetup/
.DS_Store
